# Collapse config files in GitHub UI
package.json linguist-generated
package-lock.json linguist-generated
tsconfig*.json linguist-generated
vite.config.ts linguist-generated
eslint.config.js linguist-generated
firebase.json linguist-generated
firestore.*.json linguist-generated
firestore.rules linguist-generated
.firebaserc linguist-generated
apphosting.yaml linguist-generated
vercel.json linguist-generated
index.html linguist-generated
